
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100%;
  height: auto;

}

a {
  color: #47b2e4;
  cursor: pointer;
  text-decoration: none;
}
.header-title-1{
  font-size: 3.5rem;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

.header-low-nav{
  background-image: url("../img/Header/Bg.png");
  height: 80px;
  margin-top: -1px;
  margin-left: -97px;

  
}
@media screen and (max-width: 1212px) {
  .header-low-nav {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display:none;
  }
}
.indexed-ul{
  z-index: 5;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #47b2e4;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #209dd8;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}
.logo{
  height: 83px;
  margin-top: -1px;
  margin-left: 43px;
  width: 176px;
}

@media screen and (max-width: 600px) {
  .logo {
    height: 83px;
    margin-top: -1px;
    margin-left: 43px;
    width: 176px;
    margin-left: ;
  }
  .nav-social-links {
    display: none;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px 49px;
}

@media screen and (max-width: 1212px) {
  .navbar-top {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    display: none;
    overflow: hidden;
  }
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: black;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 450;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#header-low {
  width: 100%;
  background: #37517e;
  background-image: url("../../assets/img/Home\ Image\ and\ Icons/Clip.jpg");
  background-size: 100% 100%;

}

#hero .container {
  padding-top: 72px;
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/
.cliens {
  padding: 12px 0;
  text-align: center;
  background-image: url("../../assets/img/Home\ Image\ and\ Icons/Group\ 217.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70rem;
}
@media screen and (max-width: 1212px) {
  .cliens h5, h3, img{
    visibility: hidden;
    background-repeat: none;
    background-size: 50% 50%;
    /* background-size: 7rem; */
  }
}

@media screen and (max-width: 1212px) {
  .cliens {
    background-size: 95% 80%;
  }
}


.cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  /* -webkit-filter: grayscale(100); */
}

.cliens img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  background-image: url("../../assets/img/Booking\ Image\ and\ Icons/Bg Ride.jpg");
  background-size: 100% 100%;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid yellow;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;
  border: 2px solid #47b2e4;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: yellow;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #37517e;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: white;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  border: 1px solid yellow;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: yellow;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

.great-offer{
  background-image: url("../../assets/img/Home Image and Icons/Img1.jpg");

}
.btn-store {
  color: #777777;
  min-width: 254px;
  padding: 12px 20px !important;
  border-color: #dddddd !important;
}

.btn-store:focus, 
.btn-store:hover {
  color: #ffffff !important;
  background-color: #168eea;
  border-color: #168eea !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}

.copyright-footer{
  color: white;
}

.policy{
  list-style-type: none;
}
.carousel-inner img {
  margin: auto;
}
.non-background{
  background-color: rgb(3, 1, 22);
}

.contact-icon{
  padding: 3px;
  color: black;
  font-size: 2rem;
  border: 2px solid #ffff00;
  border-radius: 50%;
}

.service{
  color: #3EC6FF;
}


.panel-title > a:before {
  float: left !important;
  content: "\2212";
  padding-right: 5px;
}
.panel-title > a.collapsed:before {
  float: left !important;
  content: '\002B';
  
}
.test-img{
  border: 1px transparent;
  border-radius: 50%;
}

.blog-post-content{
  position: absolute;
  top: 220px;
}

.fav-com{
  margin-left: 10rem;
}

.badges a{
  padding: 5px;
  margin: 0.5rem;
}

.blg-img{
  padding: 5px;
}

.next-icon{
  border: 1px solid yellow;
  padding: 1rem;
}

.service-paragraph{
  margin: 0 2rem 0 2rem;
}

.ride-capacity-1{
  display: inline-block;
}

.ride-capacity-2{
  display: inline-block;
  padding-inline: 8rem;
}

.download-ap{
  display: inline-block;
}
.download-gp{
  display: inline-block;
}
.download-ap img{
  width: 200px;
}

.download-gp img{
  width: 200px;
} 

.test-container{
  height: 23rem;
}

.duka-img{
    height: 20rem;
    width: 36rem;
    margin-left: 2rem;
}

.your-safety{
  margin-top: -4rem;
}

.yellow{
  color: #FEF014;
  
}

#cars{
  width: 40rem;
  margin-left: 14rem;
}

.service-car{
  width: 28rem;
}

#pricing{
  height: 30rem;
}

.hiddenCarImages{
  display: none;
}
.hiddenCorporateCarImages{
  display: none;
}
.hiddenMidSizeCarImages{
  display: none;
}
.hiddenEnglishSpeakerCarImages{
  display: none;
}
.hashtag{
  background-color: white;
  color: white;
}

.my-2{
  height: 17rem;
}
.my-3{
  width: 15rem;
  padding: 0 5px 0 50px;
}
.shrek{
  margin-left: -8rem;
}